<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>School</title>
    <body>
      <div>
        <a href="/teachers">teachers</a>
        <a href="/students">students</a>
        <a href="/subjects">subjects</a>
      </div>
    </body>


</html>
