<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <tr>
      <td><a href="/Teachers">Teachers</a></td>
      <td><a href="/Students">Students</a></td>
      <td><a href="/Subjects">Subjects</a></td>
    </tr>

  </head>
