<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Hacktiv8</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">HOME</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/teachers">TEACHERS <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/teachers">DATA TEACHER</a></li>
          <li><a href="/teachers/add">ADD TEACHER</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/subjects">SUBJECT <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/subjects">SUBJECTS</a></li>
          <li><a href="/subjects/add">ADD SUBJECT</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/students">STUDENTS <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/students">DATA STUDENT</a></li>
          <li><a href="/students/add">ADD STUDENT</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
