<!DOCTYPE html>
<html>
<head>
	<title> <%= title %> </title>
</head>
<body>
<nav class="navigation">
	<ul>
		<li> <a href = "/teachers">Teacher </a></li>
		<li> <a href = "/subjects">Subject </a></li>
		<li> <a href = "/students">Student  </a></li>
	</ul>
</nav>


<style>
	.navigation {
		text-align: center;
	}

	.navigation ul li {
		display : inline-block;
	}

	.navigation ul li a {
		margin: 10px;
		padding: 10px;
		font-size: 40px;
		text-decoration : none;
	}
</style>
</body>