<div class="tabs is-toggle is-fullwidth">
  <ul>
    <li><a href="/"><span>HOME</span></a></li>
    <li><a href="/teachers"><span>TEACHERS</span></a></li>
    <li><a href="/subjects"><span>SUBJECTS</span></a></li>
    <li><a href="/students"><span>STUDENTS</span></a></li>
  </ul>
</div>
