<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="<%=folder%>assets/css/bulma.min.css" type="text/css">
  <link rel="stylesheet" href="<%=folder%>assets/css/mystyle.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <title><%=my_title%></title>
</head>
<body>
  <div class="tabs is-toggle is-fullwidth">
    <ul>
      <li><a href="/"><span>DASHBOARD</span></a></li>
      <li><a href="/teachers"><span>TEACHERS</span></a></li>
      <li><a href="/subjects"><span>SUBJECTS</span></a></li>
      <li><a href="/students"><span>STUDENTS</span></a></li>
    </ul>
  </div>
