<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Student</title>
</head>

<body>
    <% if(error != null){ %>
        <p>
            <%= error %>
        </p>
        <% } %>
            <form action="/subjects/add" method="post">
                <input type="text" name="subject_name" placeholder="Subject Name">
                <input type="submit" value="Add">
            </form>
</body>

</html>