<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ADD STUDENTS</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>

      </tr>
      <tr>
        <form class="" action="/students/add" method="post" >
            <td><input type="text" name="first_name" value=""></td>
            <td><input type="text" name="last_name" value=""></td>
            <td><input type="text" name="email" value=""></td>
            <td> <input type="submit" value="ADD"></td>
        </form>
      </tr>


    </table>
    <tr>
      <td><a href="/students"> View All Students </td>
    </tr>
  </body>
</html>
