<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ADD SUBJECT STUDENTS</title>
  </head>
  <body>
    <h1>ADD SUBJECT STUDENT</h1>
    <form method="post">
  <select class="" name="SubjectId">
    <% subjects.map(row => { %>
      <option value="<%= row.id %>"><%= row.subject_name %></option>
    <% }) %>
  </select>
  <input type="submit" name="" value="Add Student Subject">
    </form>
  </body>
</html>
