<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ADD STUDENTS</title>
  </head>
  <body>
    <table>
      <tr>
        <form class="" action="/students/add" method="post" >
            <td><input type="text" name="first_name" value=""></td>
            <td><input type="text" name="last_name" value=""></td>
            <td><input type="text" name="email" value=""></td>
            <td> <input type="submit" value="ADD"></td>
        </form>
      </tr>

    </table>

  </body>
</html>
