<%- include("partials/header",{title:'Add Teacher'}) %>
  <body>
    <form action="/teachers/add" method="post">
      First Name <br> <input type="text" name="first_name"> <br>
      Last Name <br> <input type="text" name="last_name"><br>
      Email <br> <input type="text" name="email"><br>
      <input type="submit" value="Submit"><br>
    </form>
  </body>
</html>
