<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Teacher</title>
  </head>
  <body>
    <h1>Add New Teacher</h1>
    <table>
    <form action="/teachers/add" method="post">
        <tr>
          <td><input type="text" name="first_name" placeholder="First Name"></td>
          <td><input type="text" name="last_name" placeholder="Last Name"></td>
          <td><input type="text" name="email" placeholder="Email"></td>
          <td><input type="submit" value="Add"></td>
        </tr>
    </form>
  </table>
  </body>
</html>