<%-include("partials/header",{title:'Add Teachers'})%>
  <body>
    <table border="1">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>

      </tr>
      <tr>
        <form class="" action="/teachers/add" method="post" >
            <td><input type="text" name="first_name" value=""></td>
            <td><input type="text" name="last_name" value=""></td>
            <td><input type="text" name="email" value=""></td>
            <td> <input type="submit" value="ADD"></td>
        </form>
      </tr>


    </table>
    <tr>
      <td><a href="/teachers"> View All Teachers </td>
    </tr>
  </body>
</html>
