<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Teacher</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Hacktiv8</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/">HOME</a></li>
        <li class="active"><a href="/teachers">TEACHERS</a></li>
        <li><a href="/subjects">SUBJECTS</a></li>
        <li><a href="/students">STUDENTS</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h2>ADD TEACHER</h2>

    <form class="form-inline" role="form" action="/teachers/add" method="post">
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="TEXT" name="first_name" placeholder="Enter First Name" required="required">
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="TEXT" name="last_name" placeholder="Enter Last Name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="TEXT" name="email" placeholder="Enter Email">
      </div>
      <br>
        <br>Subject:<br>
        <select name="SubjectId">
          <%for(let i = 0; i< Subjects.length; i++){%>
            <option value="<%=Subjects[i].id%>"><%=Subjects[i].subject_name%></option>
            <%}%>
          </select>
          <button type="submit" class="btn btn-default">ADD</button>
        </form>
        <%if(hasOwnProperty('error')){%>
          <h1>Email yang anda masukkan tidak benar</h1>
          <%}%>
        </div>


      </body>
      </html>
