<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HALAMAN SUBJECT STUDENT</title>

    <style type = "text/css">

      .tabel {
        background-color: brown;
        font-family: Calibri;
        width : 100%;
      }

      .warna {
        color : white;
      }

      .rapi {
        color: white;
        text-align:  center;
        font-family: cursive;
      }

      fieldset {
        width : 30%;
      }

      a {
        color: white;
        font-family : Arial;
        text-decoration: none;
      }

      a:hover {
        color : grey;
      }

    </style>

  </head>

  <body style="background-color : aquamarine">

    <h2><%= hasil.subject_name %></h2>
<%= hasil.first_name %>
      <fieldset>
      <legend><b> ENROLLED STUDENTS </b></legend>
      <table border = "1" class = "warna tabel rapi">
        <thead>
            <th><b>Name</b></th>
            <th><b>Score</b></th>
        </thead>

        <% for(let i = 0 ; i < data.length ; i++) { %>
          <tbody>
            <td><%= data[i].first_name + " " + data[i].last_name %></td>
          </tbody>
        <%}%>
      </table>

  </fieldset>
  </body>
</html>
