<% %>
<!DOCTYPE html>
<html>
<head>
	<title>Edit Student</title>
</head>
<body>
	<form action="/students/edit/<%=siswa.id%>" method="post">
  		First Name:<br>
  		<input type="text" name="first_name" value="<%=siswa.first_name%>">
  		<br>
  		Last Name:<br>
  		<input type="text" name="last_name" value="<%=siswa.last_name%>">
  		<br>
  		Email:<br>
  		<input type="text" name="email" value="<%=siswa.email%>">
  		<br><br>
  		<input type="submit" value="Submit">
	</form> 
</body>
</html>