<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Subjects</title>
</head>

<body>
    <% if(error != null){ %>
        <p>
            <%= error %>
        </p>
        <% } %>
        <table border="1">
          <tr>
            <form action="/subjects/edit/<%= dataSubjects.id %>" method="post">
              <td><input type="text" name="subject_name" placeholder="First Name" value="<%= dataSubjects.subject_name %>"></td>
              <td><input type="submit" value="SAVE"></td>
            </form>
          </tr>
        </table>
</body>
</html>
