<% include ./partials/head %>
</head>
<body>
  <% include ./partials/menu %>
  <section class="hero is-info is-medium">
  <div class="hero-body">
    <form action="/students/edit/<%=dataStudent.id%>" method="post">
      <div class="field">
        <p class="control">
          <input name="first_name" class="input" type="text" value="<%=dataStudent.first_name%>">
          </p>
          <br/>
          <p class="control">
          <input name="last_name" class="input" type="text" value="<%=dataStudent.last_name%>">
          </p>
          <br/>
          <p class="control">
          <input name="email" class="input" type="text" value="<%=dataStudent.email%>">
          <br/>
        </p>
      </div>
      <input type="submit" class="button is-primary" value="Edit">
      <a href="/students" class="button is-light">Batal</a>
    </form>
  </div>
  </section>
</body>
</html>
