<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Subject</title>
</head>

<body>
    <% if(error != null){ %>
        <p>
            <%= error %>
        </p>
        <% } %>
            <form action="/subjects/edit/<%= dataSubjects.id %>" method="post">
                <input type="text" name="subject_name" placeholder="First Name" value="<%= dataSubjects.subject_name %>">
                <input type="submit" value="Edit">
            </form>
</body>

</html>