<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/subject/edit/<%=rows.id%>" method="post">
        <input type="text" name="subject_name" value="<%=rows.subject_name%>">
        <button type="submit">SAVE</button>
    </form>
  </body>
</html>
