<!DOCTYPE html>
<html>
<head>
	<title>Subject</title>
</head>
<body>
	<h1> <%= subject.dataValues.subject_name %> </h1>
	<h4> <a href ="/subjects"> return to subject list</a>	</h4>	
	<table border="1" width="70%">
		<thead>
			<tr>
				<th> name </th>
				<th> score </th>
			</tr>
		</thead>
		<tbody>
			<% subject.dataValues.Students.forEach(student => {%>	
			<tr>
				<td> <%= student.first_name %> <%= student.last_name %></td>
				<td> Score </td>	
			</tr>	
			<%})%>
		</tbody>	
	</table>	
</body>
</html>