<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enrolled Students</title>
</head>

<body>
    <h3><%=  dataSubjects[0].subject.subject_name %></h3>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Score</td>
        </tr>
        <% dataSubjects.forEach((rows) => { %>

            <tr>
                <td><%= rows.student.first_name %></td>
                <td>
                    <% if( rows.score == null ) { %>
                        <a href="/subjects/<%= rows.id %>/givescore">give score</a>
                    <% } else { %>
                        <%= rows.score %>
                    <% } %>
                </td>
            </tr>

        <% }) %>
    </table>
</body>

</html>