<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Enrolled Students</title>
    <style media="screen">
      div{
        text-align: center;
      }
      td{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="">
      <h1><%=subject.subject_name%></h1>
      <a href="/subject">Return All Subject Data</a>
    </div>
    <div class="">
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Score</td>
          </tr>
        </thead>

      </table>
    </div>

  </body>
</html>
