<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/css/bulma.min.css" type="text/css">
  <link rel="stylesheet" href="assets/css/mystyle.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <title>SchoolApp-Students</title>
</head>
<body>

  <% include assets/partials/nav-bar %>

  <div class="container">
    <div style="margin:auto; width: 50%;">
      <!-- <label style="text-align: center;" class="label is-medium">Add Student</label> -->
      <div style="text-align: center; margin-top:22px;">
        <p class="title is-2">Give Score</p>
        <p class="subtitle is-5">input score student</p>
      </div>

      <div style="margin-top: 8%;">


        <form action="#" method="post">

          <div class="field">
            <label class="label">Student Name</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-medium" type="text" placeholder="" name="first_name">
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Subject Name</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-medium" type="text" placeholder="" name="last_name">
              <span class="icon is-small is-left">
                <i class="fa fa-book"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Input Score</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-medium" type="text" placeholder="Student Score" name="givescore">
              <span class="icon is-small is-left">
                <i class="fa fa-star"></i>
              </span>
            </div>
          </div>
          <div style="text-align: center; margin-top:33px;" class="control">
            <!-- <button type="submit" value="Submit" class="button is-primary">Submit</button> -->
            <input class="button is-success is-outlined is-medium" type="submit" value="Submit input">
            <input class="button is-success is-outlined is-medium" type="reset" value="Reset input">
          </div>
        </form>

      </div>




      <div style="text-align: center; margin-top:5%;">
        <a style="text-decoration: none;" href="/subject">show all subject</a>
      </div>
    </div>
  </div>
</body>
</html>
