<%- include("partials/header",{title:'Give Score'}) %>
  <body>
    <h3> Input Score Student </h3>
    <form action="/subjects/<%=rowsConjunction.id%>/givescore" method="post">
      <input type="text" name="score" value="<%=rowsConjunction.score%>">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
