<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Give score</title>
  </head>
  <body>
      <h1>GIVE SCORE</h1>
      <form method="post">
        Student Name : <%= student.getFullname() %><br>
        Score : <input type="text" name="Score" value=""><br>
        <input type="submit" name="" value="Score"><br>
      </form>

  </body>
</html>
