<%-include partial/index%>
<form action="/subjects/<%=rows[0].id%>/addscore" method="post">
    Score:<br>
    <input type="text" name="score" required/>
    <br>
    <input type="submit" value="ADD">
  <%}%>
  </body>
</html>
