<%-include("partials/header",{title:'Give Scores'})%>
  <body>
    <table border="1">
      <tr>
        <th>Student Name</th>
        <th>Subject Name</th>
        <th>Score</th>

      </tr>
        <tr>

            <td><%=dataStudent.getFullname()%></td>
            <td><%=dataSubject.subject_name%></td>
            <form class="" action="/subjects/<%=dataConjunction.id%>/givescore" method="post">
              <td><input type="text" name="score"></td>
              <td> <input type="submit" value="SAVE"></td>
            </form>
      </tr>
    </table>
  </body>
</html>
