<%- include partial/headerWithMenubar%>
    <h2>Give Score</h2><br>
      <form class="" action="" method="post">
        Student Name : <%=student.fullName%><br>
        Subject Name : <%=subject.subject_name%><br>
        score        : <input type="text" name="score" placeholder="ex : 90"><br><br>
          <input type="submit" value="Submit">
      </form>
<%- include partial/footer%>
