<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kesalahan</title>
  </head> -->
<%- include('partial/header', {title: title}) %>
  <body>
    <br><br><%= msg %>
  </body>
</html>