<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>COEG</title>
  </head>
  <body>
    <a href="/teachers">Teachers</a>
    <a href="/subjects">Subjects</a>
    <a href="/students">Students</a>
  </body>
</html>