<%- include('assets/partials/nav-bar',{my_title:'Dashboard - SchoolApp',folder:''}) %>

  <div class="container_index">
    <div style="text-align:center; margin-bottom:8%;">
      <p class="title is-2">SCHOOL APP</p>
      <p class="subtitle is-4">show all table school</p>
    </div>
  </div>

  <div style="margin-top:-1%;" class="container">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Teachers</p>
          <p class="title"><%=data_teachers.length%></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Subject</p>
          <p class="title"><%=data_Subjects.length%></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Students</p>
          <p class="title"><%=data_Students.length%></p>
        </div>
      </div>
    </nav>
  </div>
</body>

</html>
