  <% include ./partials/head %>
    <title>Home</title>
  </head>
  <body>

    <% include ./partials/menu %>
    <section class="hero is-info is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
          Welcome
      </h1>
      <h2 class="subtitle">
        to School Apps
      </h2>
      <marquee direction="down" width="auto" height="200" behavior="alternate">
        <marquee behavior="alternate">
          <img src="http://www.pngmart.com/files/5/Cartoon-PNG-Transparent.png" alt="Smiley face" height="80" width="80">
        </marquee>
      </marquee>
    </div>
  </div>
</section>
  </body>
</html>
