<%- include partial/headerWithMenubar%>
    <h2>Add Student Data</h2>
    <%=err%>
    <form class="" action="" method="post">
        <input type="text" name="first_name" placeholder="Your First Name"><br>
        <input type="text" name="last_name" placeholder="Your Last Name"><br>
        <input type="text" name="email" placeholder="Your Email"><br><br>
        <input type="submit" value="Add Student">
    </form>
  <%- include partial/footer%>
