<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Students</title>
  </head>
    <style media="screen">
    table, th, td {
    border: 1px solid black;
    }
    </style>
  <body>
    <table>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
        <% let i = 1 %>
        <% rows.forEach(function(row){%>
      <tr>
        <td> <%= row.id %> </td>
        <td> <%= row.first_name %> </td>
        <td> <%= row.last_name %> </td>
        <td> <%= row.email %> </td>
        <% }) %>
        <a href="/students/add" class="btn btn-default">add students</a>
      </tr>
    </table>
  </body>
</html>
