<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/students/add" method="post">
      <input type="input" name="first_name" placeholder="first name">
      <input type="input" name="last_name" placeholder="last name">
      <input type="input" name="email" placeholder="email">
      <input type="submit" value="submit">
    </form>
    <p><%=pesan%></p>
  </body>
</html>
