<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <header>
        <ul class="nav nav-tabs">
          <li class=""><a href="/">Home</a></li>
          <li><a href="/teachers">Teachers</a></li>
          <li><a href="/subjects">Subjects</a></li>
          <li><a href="/students">Students</a></li>
        </ul>
      </header>
      <div class="text-center">
        <h1>Add Student Data</h1>
        <p><a href="/students">Show All Data</a></p>
      </div>
      <div class="">
        <form method="post">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="first_name" id="first_name">
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="last_name" id="last_name">
          </div>
          <div class="form-group">
            <label>Email address:</label>
            <input type="email" class="form-control" name="email" id="email">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
