<%include partials/head%>

    <body>

        <head>
            <% include partials/menu%>
                <h3>Subjects Data</h3>
        </head>

        <div class="main-table">
            <table>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Subject Name
                    </th>
                    <th>
                        Teachers
                    </th>
                    <th>
                        Enrolled Students
                    </th>
                    <th colspan="2">
                        Action
                    </th>
                </tr>
                <% dataSubjects.forEach((subject)=>{%>
                    <tr>
                        <td>
                            <%= subject.id%>
                        </td>
                        <td>
                            <%= subject.subject_name%>
                        </td>
                        <td>
                            
                        </td>
                        <td>

                        </td>
                        <td>
                            <a href="/subjects/edit/<%= subject.id%>"> Edit</a>
                        </td>
                        <td>
                            <a href="/subjects/delete/<%= subject.id%>"> Delete</a>
                        </td>
                    </tr>
                    <%})%>

            </table>
        </div>
        <a href="/subjects/add">
            Add Subject
        </a>
    </body>

    </html>