<!DOCTYPE html>
<html lang="en">
<head>
<style media="screen">
table tr:nth-child(1){
  counter-reset: rowNumber;
}

table tr {
  counter-increment: rowNumber;
}

table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}
</style>
  <% include ./partials/head %>
</head>
<body>
  <header>
    <% include ./partials/header %>
  </header>
  <div class="container">
    <h2>SUBJECT DATA</h2>
    <div class="table-responsive">
      <a href="subjects/add">ADD SUBJECT</a>
      <table class="table">
        <thead>
          <tr>
            <th>NO</th>
            <th>ID</th>
            <th>SUBJECT NAME</th>
            <th>TEACHER</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <%dataContacts.forEach (row=> {%>
            <tr>
              <td></td>
              <td><%= row.id %></td>
              <td><%= row.subject_name %></td>
              <td>
                <ol>
                  <%for(let x = 0; x < row.Teachers.length; x++){%>
                    <li><%=row.Teachers[x].fullName()%></li>
                    <%}%>
                  </ol>
                </td>
                <td><a href="/subjects/<%=row.id%>/enrolledstudents">Enrolled Students</td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <footer>
          <% include ./partials/footer %>
        </footer>
      </body>
      </html>
