<%- include('partial/header', {title: title}) %>
  <body>
    <h1>Edit SUBJECTS Data</h1>
    <a href="/subjects">show all data</a>
    <form class="" action="" method="post">
    </br>Subject Name: <input type="text" name="subject_name" value="<%= subject.subject_name %>" placeholder="first name">
    </br><input type="submit" name="" value="UPDATE SUBJECT">
    </form>
  </body>
</html>