<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Subjects</title>
  </head>
  <body>
    <h1>Subjects Data</h1>
    <table border=1>
      <tr>
        <th>ID</th>
        <th>Subject Name</th>
      </tr>
      <% for(let i = 0; i < subjData.length; i++){ %>
        <tr>
          <td><%= subjData[i].id %></td>
          <td><%= subjData[i].subject_name %></td>
          <% subjData[i].Teachers.forEach(function(teacher){%>
            <% if(teacher != null){%>
              <td><%= `${teacher.first_name} ${teacher.last_name}`%></td>
            <%}else{%>
              <td>unassigned</td>
            <%}%>
          <%})%>
        </tr>
        <% } %>
    </table>
  </body>
</html>