<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Subject</title>
</head>
<body>
	<h1 style="text-align: center;">Subjects</h1>

	<table width="100%" border="1">
		<thead>
			<tr>
				<th>Id</th>
				<th>Subject Name</th>
				<th>Teacher</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			<% subjects.forEach( function(subject, index) { %>
				<tr>
					<td><%= subject.id %></td>
					<td><%= subject.subject_name %></td>
					<td>
						<ol>
						<%= JSON.stringify(subject.Teachers) %>
						<% subjects.forEach((subject, index) => {  %>

							<% subject.Teachers.forEach( function(teacher, index) { %>

								<% console.log(teacher.first_name) %>
								<li><%= teacher.full_name(); %></li>
							<% }); %>
						<% }); %>
						</ol>
					</td>
					<td>
						<a href="#">Enroll Students</a>
					</td>
				</tr>
			<% }); %>
		</tbody>
	</table>
</body>
</html>