<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Subjects</title>
  </head>
  <body>
    <h1>Adds Subjects Data</h1>
    <a href="/subjects">show all data</a>
    <% if(msg!=''){ %>
      <%= msg %>
    <% } %>
    <form class="" action="" method="post">
    </br> Subject Name: <input type="text" name="subject_name" value="" placeholder="subject name">
    </br><input type="submit" name="" value="ADD SUBJECT">
    </form>
  </body>
</html>