    <%- include('assets/partials/nav-bar',{my_title:'Edit Subject - SchoolApp', folder:'../../'})%>

  <div class="container">

    <div style="text-align:center; margin-bottom:8%;">
      <p class="title is-2">EDIT SUBJECT DATA</p>
      <p class="subtitle is-4"><a href="/teachers">show all table subject</a></p>
    </div>

    <form action="/subjects/edit/<%=data_Subjects.id%>" method="post">
      <div class="field">
        <label class="label">Subject Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Text input" name="subject_name" value="<%=data_Subjects.subject_name%>">
        </div>
      </div>

      <div style="text-align: center; margin-top:33px;" class="control">
          <!-- <button type="submit" value="Submit" class="button is-primary">Submit</button> -->
          <input class="button is-success is-outlined is-medium" type="submit" value="Submit input">
          <input class="button is-success is-outlined is-medium" type="reset" value="Reset input">
        </div>
    </form>
  </div>

</body>
</html>
