    <% include partials/title %>
    <form class="" action="/subjects/edit/<%=subject.id%>" method="post">
      <input type="input" name="subject_name" value="<%=subject.subject_name%>">
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
