<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Subject ADD</title>
  </head>
  <body>
    <h1>ADD SUBJECT </h1>
    <form method="post">
      <td><input type="text" name="subject_name" value=""></td>
      <td><input type="submit" value="ADD"></td>
      </form>
    </form>


  </body>
</html>
