<!DOCTYPE HTML>
<html>
<head>
	<title>Teacher</title>
</head>
<body>
<table border="1">
	<thead>
		<tr>
		<th>id</th>
		<th>subject_name</th>
		<th>Full Name</th>
		</tr>
	</thead>
	<tbody>
	<% allSubject.forEach(subject => {%>
		<tr>
		<td> <%= subject.id %> </td>
		<td> <%= subject.subject_name %> </td>
			<td><% subject.Teachers.forEach(teacher => {%>
			<li style="list-style-type: decimal;"> <%= teacher.first_name %> <%= teacher.last_name %>	
			</li>
			<%})%>
			</td>
		</tr>
	<%})%>
	</tbody>
</table>		
</body>
</html>