<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <form class="" action="/subject" method="post">
        <tr>
          <td><input name="subject_name" placeholder="SUBJECT NAME"></td>
          <td><button type="submit" >ADD</button></td>
        </tr>
      </form>
    </table>
    <table border>
      <tr>
        <th>id</th>
        <th>Subject_name</th>
      </tr>
      <%for(let i = 0;i < rows.length ;i++){%>
        <tr>
          <td><%=rows[i].id%></td>
          <td><%=rows[i].subject_name%></td>
          <td><a href="/subject/delete/<%=rows[i].id%>">delete</a></td>
          <td><a href="/subject/edit/<%=rows[i].id%>">edit</a></td>
        </tr>
      <%}%>
    </table>
  </body>
</html>
