<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/subjects/add" method="post">
      <input type="input" name="subject_name" placeholder="subject name">
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
