<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Subjects</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>Subject Name</th>

      </tr>

      <%data.forEach((dataparams)=>{%>
        <tr>
        <td><%=dataparams.subject_name%></td>
        <td><a href="/subjects/edit/<%=dataparams.id%>"> Edit </td>
        <td><a href="/subjects/delete/<%dataparams.id%>"> Delete </td>
        </tr>
      <%})%>

    </table>

    <a href="/teachers/add">Add Subjects</a>
  </body>
</html>
