<%-include("partials/header", {title: 'Add Teachers'})%>
  <body>
    <h1>Add Teachers Data</h1>
    <form class="" action="/teachers/add" method="post">
      First Name <br>
      <input type="text" name="first_name" value=""><br>
      Last Name <br>
      <input type="text" name="last_name" value=""><br>
      Email <br>
      <input type="text" name="email" value=""><br>
      <input type="submit" name="" value="Add Teacher">
    </form>
  </body>
</html>