<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teachers</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>

      </tr>

      <%dataTeachers.forEach((dataparams)=>{%>
        <tr>
        <td><%=dataparams.first_name%></td>
        <td><%=dataparams.last_name%></td>
        <td><%=dataparams.email%></td>
        <td><a href="/teachers/edit/<%=dataparams.id%>"> Edit </td>
        <td><a href="/teachers/delete/<%dataparams.id%>"> Delete </td>
        </tr>
      <%})%>

    </table>

    <a href="/teachers/add">Add Teachers</a>
  </body>
</html>
