<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teachers</title>
  </head>
  <body>
    <h1>Edit Teachers Data</h1>
    <a href="/teachers">show all data</a>
    <form class="" action="" method="post">
      </br>First Name: <input type="text" name="first_name" value="<%= teacher.first_name %>" placeholder="first name">
      </br>Last name: <input type="text" name="last_name" value="<%= teacher.last_name %>" placeholder="last_name">
      </br>Email: <input type="text" name="email" value="<%= teacher.email %>" placeholder="email">
      </br><input type="submit" name="" value="UPDATE STUDENT">
    </form>
  </body>
</html>