<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teacher</title>
    <style media="screen">
      h2{
        text-align: center;
      }
      table {
      border-collapse: collapse;
      width: 100%;
      padding: 20px
    }

    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
      }
    form{
      text-align: center;
      padding: 20px
    }
    </style>
  </head>
  <body>
    <h2>Teachers</h2>
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>FIRST NAME</td>
          <td>LAST NAME</td>
          <td>EMAIL</td>
        </tr>

          <%teacher.forEach(dt =>{ %>
            <tr>
            <td><%=dt.id%></td>
            <td><%=dt.first_name%></td>
            <td><%=dt.last_name%></td>
            <td><%=dt.email%></td>
            
            </tr>
          <% })%>


      </thead>
    </table>
  </body>
</html>
