<%include ../partials/navbar.ejs%>


<div class="ui container">

    <h1>Add New Student</h1>
      <%if(error != null){%>
      <h4 style="color:red"><%=error.message%></h4>
      <%}%>
      <form class="ui form" action="/students/add" method="post">
        <div class="field">
          <label>First name</label>
          <input type="text" name="first_name" value="" placeholder="Ex: Joko"><br>
        </div>
        <div class="field">
          <label>Last Name</label>
          <input type="text" name="last_name" value="" placeholder="Ex: Widuduw"><br>
        </div>
        <div class="field">
          <label>Email</label>
          <input type="text" name="email" value="" placeholder="Ex:foo@bar.com"><br>
        </div>

        <button class="ui button" type="submit">Submit</button>
    </form>
  </div>
  </body>
</html>
