<!DOCTYPE html>
<html>
  <%include ../partial/head.ejs%>
  <body>
    <div class="ui container" style="margin-top:3em;">
      <h1><%=title%></h1>
      <%include ../partial/menu.ejs%>
      <p style="color:red;"><%=err%></p>
      <form class="" action="/students/add" method="post">
        <p>
          <div class="ui large icon input">
            <input type="text" name="first_name" placeholder="First Name">
          </div>
        </p>
        <p>
          <div class="ui large icon input">
            <input type="text" name="last_name" placeholder="Last Name">
          </div>
        </p>
        <p>
          <div class="ui large icon input">
            <input type="text" name="email" placeholder="Email">
          </div>
        </p>
        <p>
          <input class="ui primary button" type="submit" value="Submit">
        </p>
      </form>
    </div>
  </body>
</html>
