<%- include ../partials/header %>
  <body>
    <%- include ../partials/navbar %>

    <br><br>
    <form class="" action="/subjects/add" method="post">
      <label for="">Subject Name</label><br>
      <input type="text" name="subject_name" placeholder="input subject name"><br>
      <br>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
