<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Subject</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/teachers">Teachers</a>
    <a href="/subjects">Subjects</a>
    <a href="/students">Students</a>

    <br><br>
    <form class="" action="/subjects/edit/<%= dataSubject.id %>" method="post">
      <label for="">Subject Name</label><br>
      <input type="text" name="subject_name" value="<%= dataSubject.subject_name %>"><br>
      <br>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
