<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Enrolled Student</title>
  </head>
  <body>
  <style>
  table, th, td {
   border: 1px solid black;
  }
  </style>
    <h3><%= dataSubject.subject_name%></h3>

    <table>
      <th>No</th>
      <th>Students Name</th>
      <th>Score</th>
      <th>Desc</th>
        <%dataSubject.forEach(item => {%>
      <tr>
          <td></td>
          <td>
            <%if(item.Student !== null){%>
            <%=item.Student.getFullName()%>
            <%}%>

          </td>
          <td>
            <%if(item.score !== null){%>
            <%=item.score%>
          <%}else{%>
            <a style="none" href="/subjects/<%=item.id%>/givescores">give score</a>
          <%}%>
          </td>
      </tr>
        <%})%>
    </table>
  </body>
</html>
