<%include ../partials/navbar.ejs%>


  <div class="ui container">
      <h3><%= subject_name%></h3>


      <table class="ui single line celled table">
      <th>No</th>
      <th>Students Name</th>
      <th>Score</th>
      <th>Desc</th>
        <%dataSubject.forEach(item => {%>
      <tr>
          <td></td>
          <td>
            <%if(item.Student !== null){%>
            <%=item.Student.getFullName()%>
            <%}%>

          </td>
          <td>
            <%if(item.score !== null){%>
            <%=item.score%>
          <%}else{%>
            <a style="none" href="/subjects/<%=item.id%>/givescores">give score</a>
          <%}%>
          </td>
          <%if(item.score >= 90){%>
            <td>A</td>
          <%}else if(item.score >= 80){%>
            <td>B</td>
          <%}else if(item.score < 80 && item.score !== null){%>
            <td>C</td>
          <%}else if(item.score == null){%>
            <td>NaN</td>
          <%}%>
      </tr>
        <%})%>
    </table>
  </div>
  </body>
</html>
