<!DOCTYPE html>
<html>
  <%include ../partial/head.ejs%>
  <body>
    <table>
      <tbody>
        <tr>
          <th>ID</th>
          <th>Subject Name</th>
          <th>Option</th>
        </tr>
      </tbody>
      <tbody>
        <%subjects.forEach(subject => {%>
          <tr>
            <td><%=subject.id%></td>
            <td><%=subject.subject_name%></td>
            <td>
              <a href="/subjects/edit/<%=subject.id%>">edit</a>
              <a href="/subjects/delete/<%=subject.id%>">delete</a>
            </td>
          </tr>
        <%})%>
      </tbody>
    </table>
    <a href="/subjects/add">add new</a>
  </body>
</html>
