<%include ../partials/navbar.ejs%>

  <div class="ui container">
    <h3><%=data.Subject.subject_name%></h3>

    <form class="ui form" action="/subjects/<%=data.Subject.id%>/givescores" method="post">
      <div class="field">
        <label>Name</label>
        <input type="text" value="<%=data.Student.getFullName()%>"><br>
      </div>
      <div class="field">
        <label>Score</label>
        <input type="integer" name="score" value=""><br>
      </div>
        <button class="ui button" type="submit">Submit</button>
  </form>
</div>
  </body>
</html>
