<!DOCTYPE html>
<html>
  <head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <a href="/teachers">Teacher</a>
      <a href="/subjects">Subject</a>
      <a href="/students">Student</a>
    </div>
