<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <table>
    <tr>
      <td>  <a href="/teacher"> data teacher</a>    </td>
      <td>  <a href="/student"> data student</a>  </td>
        <td>  <a href="/subject"> subject</a>    </td>
    </tr>

  </table>
