  <div class="ui menu">
    <a href='/' class="item active">Home</a>
    <a href='/teachers' class="item">Teachers</a>
    <a href='/students' class="item">Students</a>
    <a href='/subjects' class="item">Subjects</a>
  </div>
