<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add</title>
  </head>
  <body>

  <form action="/teachers/add" method="post">
  First name:<br>
  <input type="text" name="first_name" value=""><br>
  Last name:<br>
  <input type="text" name="last_name" value=""><br>
  Email:<br>
  <input type="text" name="email" value=""><br>

  <select name="SubjectId">
    <%dataSubjects.forEach(item =>{%>
      <option value="<%=item.id%>"><%=item.subject_name%></option>
    <%})%>
    </select>

  <input type="submit" value="Submit">
</form>
  </body>
