<%include ../partials/navbar.ejs%>


  <div class="ui container">
    <h1>Add New Student</h1>
    <%if (err) {%>
    <div class="ui text shape">
      <div class="sides">
      <div class="active ui header side" style="color:red">Format Email Salah</div>
    </div>
    </div>
    <%}%>


    <form class="ui form" action="/teachers/add" method="post">
      <div class="field">
        <label>First Name</label>
        <input type="text" name="first_name" value=""><br>
      </div>
      <div class="field">
        <label>Last Name</label>
        <input type="text" name="last_name" value=""><br>
      </div>


      <div class="ui form">
          <div class="field">
      <label>Subject</label>
      <select class="ui search dropdown" name="SubjectId">
        <%dataSubjects.forEach(item =>{%>
        <option value="<%=item.id%>"><%=item.subject_name%></option>
        <%})%>
      </select>

      <div class="field">
        <label>E-mail</label>
        <input type="text" name="email" value=""><br>
      </div>
      </div>
    <button class="ui button" type="submit">Submit</button>
    </form>
</div>
  </body>
</html>
